apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: test3
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/mkosiarc-tenant/test3/test3@sha256:dc385799869972bcc6249820fdbd51d8e5cb8f21034b90e5c235b4437cfd52a1
        name: container-image
        resources: {}
status: {}
